fastapi
uvicorn[standard]
pydantic
pydantic-settings
pytest
pytest-asyncio
httpx
loguru
python-dotenv
youtube_transcript_api
google-api-python-client
slowapi
pytest-mock
flake8
black
pytest-cov
streamlit
google-genai
